# GITHUB_ACCESS_TOKEN
# > used for:
# > starred github repository
# > recommended to use PAT (personal access token)
# 
# GITHUB_ACCESS_TOKEN=github_pat_##################################################################################
